body
{
    margin: 0;
    overflow-y: scroll;
    background-color: black;
}
/* section one  */
section
{
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    scroll-snap-align:start;
    margin-top: -10vh;
}
.container
{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.profile
{
    width: 25vw;
    height: 70vh;
    /* background-color: red; */
    display: grid;
    text-align: center;
    margin-top: 20vh;
}
.loveUquote
{
    font-family:'Courier New', Courier, monospace;
    font-size: .6em;
    color: white;
}
.profile_icon
{
    height: 30vh;
    width: 30vh;
    background-image: url(../IMAGE/logo/Premium\ Vector\ _\ Astronaut\ on\ moon\ \ \ illustration\ emblem.jpeg);
    background-position: center;
    background-size: 150%;
    margin: 0vh 0vw 0vh 5vw;
    border-radius: 50%;
    /* shadow  */
    border-radius: 150px;
/* background: #e0e0e0; */
box-shadow:  5px 5px 10px #ff77e8,
             -5px -5px 10px #4afff9;
}
.username
{
    /* background-color: red; */
    color: white;
}
.contact
{
    
}
.manu
{
    display: grid;
    gap: 20px;
    margin-top: 20px;
    color: rgb(0, 195, 255);

}
.iconblocktext
{
    text-align-last: left;
    color: white;
}
.vertical
{
    height: 86vh;
    width: 2px;
    background-color: rgb(255, 245, 105);
    margin-top: 5vh;
    margin-left: 8vh;
    border-radius: 2px;
    opacity: 30%;

}